@model Consuming_WebAPI_MVC_App.Models.DTOs.ProductCreationDTO

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create New Product</h1>

<form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Product Name:</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>
    <div class="form-group">
        <label for="Category">Category:</label>
        <input type="text" class="form-control" id="Category" name="Category" required />
    </div>
    <div class="form-group">
        <label for="Selling_Price">Selling Price:</label>
        <input type="number" class="form-control" id="Selling_Price" name="Selling_Price" required />
    </div>
    <div class="form-group">
        <label for="ProductImageUrl">Product Image:</label>
        <input type="file" class="form-control" id="ProductImageUrl" name="ProductImageUrl" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
