@model Consuming_WebAPI_MVC_App.Models.DTOs.ProductUpdateDTO

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<form asp-controller="Products" asp-action="Edit" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label for="Name">Product Name:</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
    </div>
    <div class="form-group">
        <label for="Category">Category:</label>
        <input type="text" class="form-control" id="Category" name="Category" value="@Model.Category" required />
    </div>
    <div class="form-group">
        <label for="Selling_Price">Selling Price:</label>
        <input type="number" class="form-control" id="Selling_Price" name="Selling_Price" value="@Model.Selling_Price" required />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
